{% extends 'Website/base.html' %}


{% block content %}

    <form action="{% url 'Website:departments_add' %}" method="POST">
        {% csrf_token %}
        <br>
        <label for="department_name">Department Name:  </label>
        <input type="text" name="department_name" required/><br><br>

        <label for="budget">Budget:(Integers Only)  </label>
        <input type="number" name="budget" required/><br><br>

        <input type="submit" value="Add New Department"/>
    </form>

{% endblock content %}

