{% extends 'Website/base.html' %}

{% block content %}
<h2>Bangazon Department: {{ department }}</h2>
    <h5>Budget: ${{ department.budget }}.00 per quarter</h5>
        <p>Currently Employed: </p>
                <ul>
                    {% for employee in department.employee_set.all %}
                        {% if employee.end_date == null %}
                            <li>{{ employee.first_name }} {{ employee.last_name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>Previously Employed: </p>
                <ul>
                    {% for employee in department.employee_set.all %}
                        {% if employee.end_date != null %}
                            <li>{{ employee.first_name }} {{ employee.last_name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
<button>
    <a href="{% url 'Website:departments' %}">Return to List of Departments</a>
</button>
{% endblock content %}