{% extends 'Website/base.html' %}

{% block content %}
<h1>Bangazon Departments</h1>
        {% for department in department_list %}
                <h3>Department Name: {{ department.department_name }}</h3>
                    <p>Budget: ${{ department.budget}} per quarter</p>
                    <p>Number of Employees: {{ department.employee_set.all.count }}</p>
                    <ul>
                            {% for employee in department.employee_set.all %}
                                <li>
                                    Employee: {{ employee.first_name }}
                                </li>
                            {% endfor %}
                    </ul>
        {% endfor %}
{% endblock content %}