{% extends 'Website/base.html' %}

{% block content %}

<h1>Bangazon Employee: {{ employee.first_name }} {{employee.last_name }}</h1>
<ul>
  <li>Department: {{ employee.department.department_name }}</li>
  <!-- If computers have been assigned to an employee -->
  {% if computers %}
  <!-- Slice the first instance that meets the following criteria. This acts as a break for the loop -->
    {% for computer in computers|slice:":1" %}
    <!-- If a computer exists in the table, and does not have an unassign_date, it is the current computer -->
    {% if computer.unassign_date == null %}
    <li>Current Computer: #{{ computer.computer_id }}</li>
    <!-- Affordance for when an employee has had a computer previously, but no current assignment -->
    {% else %}
    <li>This employee has no assigned computer.</li>
    {% endif %}
    {% endfor %}
    <!-- Affordance for employee that has never had a computer assignment -->
  {% else %}
  <li>This employee has no assigned computer.</li>
  {% endif %}
  {% if programs %}
  <li>All Training Programs:
    <ul>
      {% for program in programs %}
      <li>{{ program.training_program.program_name }}</li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li>This employee has no training programs.</li>
  {% endif %}
  </li>
  <!-- <li>Previous Training Programs:
    <ul>
      <li>Orientation</li>
    </ul>
  </li>
  <li>Upcoming Training Programs:
    <ul>
      <li>How to be Awesome Seminar</li>
    </ul>
  </li> -->
</ul>

<button>
  <a href="{% url 'Website:employees' %}">Return to List of Employees</a>
</button>

{% endblock content %}