{% extends 'Website/base.html' %}

{% block content %}
    <h1>Bangazon Employees</h1>
    <h2>Edit Employee: {{ employee.first_name }} {{ employee.last_name }} </h2>


        {% if join_list%}
          {% for relationship in join_list %}
            <p>Current Computer: {{relationship.computer.manufacturer}} {{relationship.computer.model}} </p>
          {% endfor %}
        {% else %}
            <p>No currently assigned computer</p>
        {% endif %}

        <p>Would you like to Change the Computer?</p>

    {% if computer_list %}
        <p>You can choose from the following available computers:</p>
    <form action="{% url 'Website:employees_edit_computer' employee.id %}" method="POST">
      {% csrf_token %}
        <label for="unassigned_computer">Unassigned Computers:</label>
        <select name="unassigned_computer">
          {% for computer in computer_list %}
              <option value="{{computer.id}}" id="{{computer.id}}">{{computer.manufacturer}} - {{computer.model}}</option>
          {% endfor %}
        </select>
        <br/>
        <input type="submit" value="OK">
    </form>
    {% else %}
    <p>No computers left. Gotsta order more!</p>
    {% endif %}

{% endblock content %}