{% extends 'Website/base.html' %}

{% block content %}

<h1>Bangazon Employee: {{ employee.first_name }} {{employee.last_name }}</h1>
<ul>
  <li>Department: {{ employee.department.department_name }}</li>
  <li>Current Computer: {{ employee.current_computer }}</li>
  {% if programs %}
  <li>Future Training Programs:
    <ul>
      {% for program in programs %}
      {% if not program.training_program.has_ended  %}
        <li>{{program.training_program.program_name}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li>This employee has no future training programs.</li>
  {% endif %}
  </li>
  {% if programs %}
  <li>Previous Training Programs:
    <ul>
      {% for program in programs %}
      {% if program.training_program.has_ended  %}
        <li>{{program.training_program.program_name}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li>This employee has no past training programs.</li>
  {% endif %}
  </li>
</ul>

<button>
  <a href="{% url 'Website:employees_edit' employee.id %}">Edit Employee</a>
</button>

<button>
  <a href="{% url 'Website:employees' %}">Return to List of Employees</a>
</button>

{% endblock content %}